#board {
  padding: 3em;
  text-align: center;
}

.row > div {
  float: left;
  height: 100px;
  width: 100px;
  cursor: pointer;
  text-align: center;
  font-size: 72px;
}

.row {
  clear: both;
  margin: auto;
  width: 302px;
  line-height: 100px;
}

.top {
  cursor: pointer;
  border-bottom: 1px black solid;
}

.center {
  border-bottom: 1px black solid;
}
.left {
  border-right: 1px black solid;
}
.right {
  border-left: 1px black solid;
}
